.App {
  text-align: center;
}

img {
  position: relative;
    height: 180px;
    width:200px;
    padding:25px;
    border-radius:5px;
    background:#ffffff;
}
button {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #9c27b0;
}
.card{
  display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-area:main;
      overflow-y:auto;
      gap:30px;
     margin: 20px 0,
     
}
@media only screen and (max-width: 855px) {
  .card{
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
  }
}